<template>
  <Toast position="bottom-right" />
  <Card style="width: 25%">
    <template #title> Login </template>
    <template #content>
      <form @submit.prevent="Login">
        <div class="p-fluid">
          <div class="p-field p-col-12">
            <span class="p-float-label">
              <InputText
                id="username"
                type="text"
                v-model="v$.username.$model"
                :class="{ 'p-error': v$.username.$invalid && submitted }"
              />
              <label
                for="username"
                :class="{ 'p-error': v$.username.$invalid && submitted }"
                >Username</label
              >
            </span>
            <small
              v-if="
                (v$.username.$invalid && submitted) ||
                v$.username.$pending.$response
              "
              class="p-error"
              >{{
                v$.username.required.$message.replace("Value", "Username")
              }}</small
            >
          </div>
          <div class="p-field p-col-12">
            <span class="p-float-label">
              <InputText
                id="password"
                type="password"
                v-model="v$.password.$model"
                :class="{ 'p-error': v$.password.$invalid && submitted }"
              />
              <label
                for="password"
                :class="{ 'p-error': v$.password.$invalid && submitted }"
                >Password</label
              >
            </span>
            <small
              v-if="
                (v$.password.$invalid && submitted) ||
                v$.password.$pending.$response
              "
              class="p-error"
              >{{
                v$.password.required.$message.replace("Value", "Password")
              }}</small
            >
          </div>
          <div class="p-col-12">
            <Button
              label="Login"
              icon="pi pi-sign-in"
              iconPos="right"
              type="submit"
            ></Button>
          </div>
        </div>
      </form>
    </template>
  </Card>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { ToastSeverity } from "primevue/api";
import { useVuelidate } from "@vuelidate/core";
import { required } from "@vuelidate/validators";
import HttpClient from "../../modules/httpclient/httpclient";

export default defineComponent({
  name: "Login",
  setup() {
    return { v$: useVuelidate() };
  },
  data() {
    return {
      username: "",
      password: "",
      submitted: false,
    };
  },
  validations() {
    return {
      username: {
        required,
      },
      password: {
        required,
      },
    };
  },
  methods: {
    async Login() {
      let isFormValid = await this.v$.$validate();
      this.submitted = true;

      if (!isFormValid) {
        return;
      }
      var result = await HttpClient.auth(this.username, this.password, (err) =>
        alert(err)
      );
      if (result) {
        this.submitted = false;
        this.$toast.add({
          severity: ToastSeverity.SUCCESS,
          summary: "Login success!",
          detail:
            "You have been logged in successfully! You are being redirected...",
          life: 3000,
        });
      }
    },
  },
});
</script>

<style>
#app {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  height: 100%;
  width: 100%;
}
</style>
