<template>
  <Sidebar
    position="left"
    :visible="this.visible"
    :showCloseIcon="!this.visible"
    :dismissable="!this.visible"
    :modal="!this.visible"
    id="main-sidebar"
  >
    <h1>Callduckk</h1>
    <Divider type="solid"></Divider>
    <Menu :model="this.menuItems" class="sidebar-menu"></Menu>
  </Sidebar>
</template>
<script>
import { defineComponent } from "vue";
import Sidebar from "primevue/sidebar";
import Menu from "primevue/menu";

export default defineComponent({
  name: "Home",
  components: {
    Sidebar,
    Menu,
  },
  data() {
    return {
      visible: true,
      menuItems: [
        {
          label: "Pages",
          items: [
            {
              label: "Home",
              icon: "pi pi-home",
            },
            {
              label: "My Profile",
              icon: "pi pi-user",
            },
          ],
        },
      ],
    };
  },
});
</script>

<style lang="scss">
#main-sidebar {
  .p-menu {
    margin-left: -16px;
    margin-right: -16px;
    width: inherit;
    border: none;
  }
  // .p-card {
  //   border: none;
  //   box-shadow: none;
  // }
}
/* .p-divider.p-divider-horizontal:before {
  border-top: 1px #e5e7eb solid !important;
} */
</style>
