<template>
  <router-view :key="$route.fullPath" />
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "App",
});
</script>

<style>
html {
  height: 100%;
  background: linear-gradient(to top, #9400b9, #b900e7);
  background-repeat: no-repeat;
  background-size: 100%;
}
</style>
